<section class="bg-sec vh-90 d-flex flex-column justify-content-center align-items-center">
 <div class="container d-flex  justify-content-center align-items-center my-2" >

  <div class=" text-white d-flex flex-column justify-content-center align-items-center my-2 ">
    <h1 class="text-uppercase fw-bolder">ABOUT COMPONENT</h1>
    <div class="star  d-flex justify-content-center align-items-center my-3">
      <div class="line"></div>
      <i class="fa-solid fa-star mx-2"></i>
      <div class="line"></div>
    </div>
    <div class="row  mx-auto g-4">
      <div class="col-md-6">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </div>
      <div class="col-md-6">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </div>
        </div>
  </div>


 </div>
</section>
