.line{
  height: 4px;
  width: 90px;
  background-color: #2C3E50;
}

h1{
  color:#2C3E50;
}
.form-control:focus{
  border-color: #dee;
}
.top-40 {
  top:40px !important;
}
label{
  transition: all 0.6s;
}
