
<section class="container  vh-90  justify-content-center  align-items-center flex-column ">

  <div class=" d-flex flex-column justify-content-center align-items-center ">
    <div class=" d-flex flex-column  justify-content-center align-items-center ">
      <h1 class="text-uppercase fw-bolder">CONATCT SECTION</h1>
      <div class="star  d-flex justify-content-center align-items-center my-2">
        <div class="line"></div>
        <i class="fa-solid fa-star mx-2"></i>
        <div class="line"></div>
      </div>
    </div>
</div>
<form action="" class="w-50 mx-auto">
  <label for="userName " class="text-sec my-2 position-relative top-0 "[class.top-40] ="! userName.length">userName :</label>
  <input type="text"
   placeholder="userName"
    name="userName"
    id="userName"
    [(ngModel)]="userName"
     class="form-control shadow-none border-top-0 border-start-0 border-end-0 my-2 position-relative">

     <label for="userAge " class="text-sec my-2 position-relative top-0 "[class.top-40] ="! userAge">userAge :</label>
     <input type="text"
      placeholder="userAge "
       name="userAge "
       id="userAge "
       [(ngModel)]="userAge "
        class="form-control shadow-none border-top-0 border-start-0 border-end-0 my-2 position-relative">

        <label for="userEmail " class="text-sec my-2 position-relative top-0 "[class.top-40] ="! userEmail.length">userEmail:</label>
        <input type="text"
         placeholder="userEmail"
          name="userEmail"
          id="userEmail"
          [(ngModel)]="userEmail"
           class="form-control shadow-none border-top-0 border-start-0 border-end-0 my-2 position-relative">

           <label for="userPassword " class="text-sec my-2 position-relative top-0 "[class.top-40] ="! userPassword .length">userPassword:</label>
           <input type="text"
            placeholder="userPassword"
             name="userPassword"
             id="userPassword"
             [(ngModel)]="userPassword "
              class="form-control shadow-none border-top-0 border-start-0 border-end-0 my-2 position-relative">
  <button class="btn-main mt-3 ">Send Message</button>
</form>

</section>
